<!DOCTYPE html>
<html>
<head>
  <title>ClassNotes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Class Notes", '#', id: "logo" %>
      <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Home",    '#' %></li>
        <li><%= link_to "Class List",    '#' %></li>
        <li><%= link_to "About Us", '#' %></li>
      </ul>
      </nav>
    </div>
  </div>
  </header>
  <%= yield %>

  <%= image_tag("cal_bear_logo.png", alt: "Cal Logo", :class => 'cal-logo') %>
</body>
</html>
